# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore legacy files from old RedDot system - these live outside of Drupal
css
images
javascript
pdf
photographs

