# Ignore configuration files which include database credentials
sites/*/*.settings-db.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore legacy files from old RedDot system - these live outside of Drupal
# Ignore only top-level directories
/css
/images
/javascript
/pdf
/photographs

# Allow some modules to be installed but kept out of the repo (but what about db dependencies?)
sites/all/modules/test_only

