.form-submiter {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer    
}
 
*:first-child+html .form-submiter {        /* hack needed for IE 7 */
    border-bottom: 0;
    text-decoration: underline;
}
 
* html .form-submiter {                /* hack needed for IE 5/6 */
    border-bottom: 0;
    text-decoration: underline;
}